.AboutContainer {
  padding-top: 6vh;
  min-height: 100vh;
  background-image: url(/src/Components/argonath.png);
  background-size: cover;
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  background-color: #10141f;
  font-style: italic;
}
