.Movies {
  color: white;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #10141fd3;
  padding: 5px;
  border-radius: 5px;
  transition: 500ms;
}
.Movies:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.Movies-stars {
  color: rgba(226, 169, 63, 0.9);
  margin-bottom: 10px;
}

.Movies-name {
  color: rgb(226, 169, 63);
}

.Movies-info {
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 150px;
  margin-top: 10px;
}

.Movies-video {
  height: 250px;
  width: 350px;
  border: none;
}
.Movies-video:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .Movies {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
